{% for category,value in categories | dictsort %}

    <h2>{{ category }}</h2>

    {% for groupname,item in value | dictsort %}

        <p>
        <strong><i>{{ item['CompanyOrgName'] }}.</i></strong>
        {{ item['Brief Description'] }}
        {% if item['Telephone'] != '' %}
            {{ item['Telephone'] }}.
        {% endif %}
        {% if item['Web'] != '' %}
            <a href="{{ item['Web'] }}">{{ item['Web'] }}</a>
        {% endif %}
        {% if item['FacebookPage'] %}
            <a href="{{ item['FacebookPage'] }}">{{ item['FacebookPage'] }}</a>
        {% endif %}
        </p>

    {% endfor %}
{% endfor %}
